@font-face{
  font-family: roboto;
  src: url(../assets/font/Roboto-Regular.eot),
url(../assets/font/Roboto-Regular.ttf) format('ttf'),  
url(../assets/font/Roboto-Regular.woff) format('woff'),  
url(../assets/font/Roboto-Regular.woff2) format('woff2');  
}
* {
  padding: 0px;
  margin: 0px;
  box-shadow: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
header > nav {
  height: 100px;
  background: #3F5EFB;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
  padding: 0 8%;
}
header > nav > h1,
header > nav > ul,
header > nav > ul > li {
  display: inline-block;
}
header > nav > ul > li {
  line-height: 80px;
  margin-left: 24px;
}header > nav > ul {
  color: white;
  font-size: 1.5rem;
  transition: 1s;
  float: right;
}
header > nav > ul > li > a {
  color: white;
  font-size: 1.5rem;
  transition: 1s;
}
/* header > nav > ul > li > a:hover{
    color: darkgoldenrod;
} */

.go-to-info {
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 30px;
  color: black !important;
  text-decoration: none;
  border-radius: 5px;
  border-style: dashed;
  border-color: black;
  text-align: center;
  margin-left: 20px;
  border-radius: 999px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  transition: 1s;
  box-shadow: 5px 5px 10px black;
}
.go-to-info:hover {
  border-radius: 999px;
  color: white !important;
  background-color: black;
  border-radius: 999px;
  border-style: dashed;
  border-color: brown;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
}
#banner {
  height: 200vh;
  background-image: url(../assets/image/photo_2025-10-27_15-57-06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#banner h1 {
  color: rgba(80, 15, 15, 0.959);
  text-align: center;
  line-height: 20vh;
  font-size: 54px;
  letter-spacing: 10px;
  backdrop-filter: blur(2px);
  font-style: italic;
}
#banner address {
  color: rgba(255, 62, 62, 0.959);
  text-align: center;
  width: 2000px;
  text-align: center;
  line-height: 20vh;
  font-size: 130px;
  letter-spacing: 10px;
  backdrop-filter: blur(2px);
  font-style: italic;
  border-radius: 100px;
  border-style: dashed;
  backdrop-filter: blur(10px);
  margin-left: 8lvi;
  cursor: pointer;
  transition: 1s;
}
#bannner address:hover {
  border-radius: 999px !important;
  color: white !important;
  background-color: black !important;
  border-radius: 999px !important;
  border-style: dashed !important;
  border-color: aqua !important;
}
#banner-contact {
  color: rgba(255, 62, 62, 0.959);
  text-align: center;
  width: 2000px;
  text-align: center;
  line-height: 20vh;
  font-size: 80px;
  letter-spacing: 10px;
  backdrop-filter: blur(2px);
  font-style: italic;
  border-radius: 100px;
  border-style: dashed;
  backdrop-filter: blur(10px);
  margin-left: 8lvi;
  cursor: pointer;
  transition: 1s;
}
#banner-contact22 {
  color: blue;
}
#jadval-contact-me {
  color: rgba(255, 62, 62, 0.959);
  font-size: 90px;
  margin-left: 29rem;
  border-radius: 999px;
}
#banner12 {
  height: 200vh;
  background-image: url(../assets/image/photo_2025-10-27_15-57-06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#banner13 {
  color: brown;
  font-size: 80px;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-image: url(../assets/image/photo_2025-10-27_15-57-06.jpg);
  min-height: 100vh;
  padding: 20px;
}
header {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

nav h1 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 25px;
  flex-wrap: wrap;
}
#form{
  width: 300px;
  height: 280px;
  border: solid rgb(255, 255, 255);
  margin: 100px auto;
 border-radius: 20px;
  padding: 20px;
  color: aliceblue;
  text-align: center;
}
#imput{
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-left: 5px;
  text-align: center;
}
#btn{
  width: 100px;
  height: 50px;
  border-radius: 999px;
}
.icon-contact{
    display: inline-block;
  margin: 20px;
  width: 300px;
  height: 50px;
  color: rgb(255, 0, 0) !important;
  text-decoration: none;
  border-style: dashed;
  border-width: 10px;
  border-color: rgb(255, 0, 0);
  text-align: center;
  margin-left: 20px;
  border-radius: 999px;
  text-align: center;
  line-height: 30px;
  font-size: 40px;
  transition: 1s;
  box-shadow: 5px 5px 10px black;
  padding-top: 10px;
  transition: 1s;
}
.icon-contact:hover{
  color: aqua !important;
  background-color: darkgoldenrod;
  border-radius: 15px;
}